{%extends 'base.html.twig'%}

{% block title 'SeniorDeliv' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>SeniorDeliv</h1>
    <p>Bienvenu sur l'application qui vous permet de vous faire livrer de bons repas.</p>
</div>
<div class="container " style="position:absolute;left:50%;margin-left:-200px;margin-top:50px" >





  <div class="card" style="width:440px;background-color:#F5FEFF; text-align:center">
      <div class="card-body">
      <h3 class="card-title">
          Accéder à mon espace
      </h3><br><br>    
      <form action="{{ path('login') }}" method="POST">
<div  style="width:400px ; text-align:center">
<div class="form-label-group" >
  <input type="text" class="form-control" id="username" name="_username" aria-describedby="emailHelp" placeholder="Identifiant" required autofocus>
  <label ></label>
</div>
<div class="form-label-group">
  <input type="password" id="password" name="_password"class="form-control" placeholder="Mot de passe" required>
  <label ></label>
</div><br>
<button type="submit" class="btn btn-primary">Se connecter</button>
</div><br>
</form>
      <div class="card-text"></div>
      <div class="text-primary"></div>

  </div>
</div>

</div>
{% endblock %}